<div class="col-xs-12">
  <div class="row-fluid">
<<<<<<< HEAD
    <h1><%= @book.title %></h1>
    <h4><%= @book.author %></h4>
    <%= image_tag(@book.image_url, class: 'img-thumbnail img-responsive') %>
  </div>
  <div class="row-fluid">
    <%= link_to "All Books", books_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "Edit", edit_book_path(@book), class: "btn btn-lg btn-primary" %>
    <%= link_to "Delete", @book, method: :delete, class: "btn btn-lg btn-danger" %>
=======
    <h1><%=@book.title %></h1>
    <ul><%= @book.author %> | <%= @book.year_published %></ul>
    <ul> <%=image_tag(@book.image_url, class: 'img-thumbnail img-responsive') %> </ul>
  </div>
  <div class="row-fluid">
    <%=link_to "All Books", books_path, class: 'btn btn-lg btn-primary' %>
    <%=link_to "Edit This Book", edit_book_path(@book), class: 'btn btn-lg btn-warning' %>
>>>>>>> 04ac15b58dd9e6dca0cf5818294b476a7c3c6238
  </div>
</div>
